<nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(117, 197, 197, 0.5);">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLinkActive='active' [routerLink]="['/medications']">Nazad <span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div>
      <h3 style="padding-bottom: 10px; padding-top: 20px;">
        Odabrali ste {{ this.imeKlinike }} apoteku
      </h3>
      <div class="search-hero">
        <input class="form-control " type="search" name="search" [(ngModel)]="searchText" placeholder="Pretraga lekova"
          style="width: 450px; margin: 10px;">
      </div>
      <table class="table table-striped table-hover table-striped">
        <thead style="background-color:rgb(117, 197, 197, 0.5);">
          <tr>
            <th>Ime</th>
            <th>Kolicina</th>
            <th>Cena</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let drug of drugs | filter:searchText">
            <td>{{drug.name}}</td>
            <td>{{drug.quantity}}</td>
            <td>{{drug.price}}</td>
            <td><a class="btn btn-success" (click)="reserve(drug)" style="font-size: 14px; ">Rezervisi</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-hover table-striped">
        <thead style="background-color:rgb(117, 197, 197, 0.5);">
          <tr>
            <th>Opis akcije</th>
            <th>Akcija vazi do</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let promotion of promotions | filter:searchText">
            <td>{{promotion.description}}</td>
            <td>{{promotion.date.split("T")[0]}}</td>
            <td><a class="btn btn-success" (click)="pretplata(promotion)" style="font-size: 14px; ">Pretplati se</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="page-footer font-small special-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <b>Jovana Brasanac</b>
    </div>
  </footer>
